/*#sleep-stage-table{*/
    /*margin-left: 10%;*/
    /*margin-right: 12%;*/
/*}*/

.area{
    padding-top: 20px;;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.dark-area{
    background-color: #009966;
}

.light-area{
    background-color: #33CC99;
}

.auto-sroll{
    position: relative;

}

.figure-em{
    font-size: 40px;
    font-weight: 900;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.row>.col-lg-8{
    padding-left: 100px;
}

.orange{
    color: #F5B800;
}

.blue{
    color: #3E8FF6;
}

.dark-red{
    color: #761c19;
}

.red{
    color: #DE120B;
}

.light-blue{
    color: #0099CC;
}

.dark-blue{
    color: #005580;
}

.fix-nav{
    position: fixed;
}

#file-selector{
    max-width: 500px;
    
}

body{
    background-color: rgba(255, 196, 114, 0.2);
}



#data-presentor{
    position: relative;
    visibility: hidden;
}